<div class="mainContainer">
    <div class="container mt-5 mb-5 aboutContainer">

        <h1 class="text-center">About Us</h1>
    
        <p>
            We will in general overlook that satisfaction doesn’t originate from something we don’t have, yet rather of perceiving and acknowledging what we do… Satisfaction is fellowship… Joy is festivity. It’s tied in with acquiring bliss and praising life.
            <br/><br/>
            Spreading bliss and commending each snapshot of life is the mantra at Keikeu. Keikeu started their endeavor with Handmade Chocolates and gradually moved into Cakes, Pastries, and unified items.
            <br/><br/>
            Everything started with taking up little gathering requests. With the progression of time, we moved to counters in markets and now have 50 outlets in the city of LA. Keikeu develops with each passing day and connecting with individuals and adding to mind-blowing festivals
            <br/><br/>
            In 1995 Keikeu wandered into advancement and innovativeness and presented productive Birthday Cakes, Customized Wedding Cakes, and Theme Cakes according to events. Keikeu expects to be the main Cake Store regarding quality, benefit, esteem for cash, and consumer loyalty.
            <br/>
        </p>
    
    </div>
</div>